# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Filipe\Desktop\6050FilipeGonçalves-14056DanielPaulino-TP02PO2-2018-2019\TP02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
